body {
	font: 15px/1.5 'Courier new', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f1eef6;
}

.content {
	margin:auto;
	background-color: #f1eef6;
}

ul{
	margin:0;
	padding:0;
}

p,h1,h2,h3{
	color: #fff;
}
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

header{
	background:#f1eef6;
	color:#fff;
	padding-top:30px;
	min-height:70px;
	border-bottom: #50a0b4 3px solid;
}


header a{
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	font-style: 16px;
}

header li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}

header #logo {
	float:left;
}

header #logo img {
	height: 70px;
}

header #logo h1 {
	margin: 0px;
}

header nav{
	float:right;
	margin-top: 20px;
}

header .highlight, header .current a {
	color: #50a0b4;
	font-weight: bold;
}

header a:hover{
	color: lightgrey;
}

.dark-background{
	background-image: url('/images/bg.png');
	background-position: center;

}
#showcase{
	min-height: 400px;
	max-width: 800px;
	margin:auto;
	background-color:#333;
	text-align: center;
}

#showcase h1 {
	font-size: 55px;
	margin-bottom: 10px;
	color: #fff;
}

#showcase p{
	font-size:20px;
}

#more-information{
	padding:15px;
	background: #333;
	max-width:800px;
	margin:auto;
}


#boxes{
	margin-top: 20px;
	max-width: 800px;
	margin:auto;
}

#boxes h1, #boxes h2, #boxes h3, #boxes p{
	color: #333;
}

#boxes .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#boxes .box img{
	width: 200px;
}

footer {
	padding: 20px;
	color: #fff;
	background-color: #333;
}

@media(max-width: 768px){
	header nav,
	header nav li,
	header #logo,
	#boxes .box,
	#more-information h1 {
		float:none;
		text-align: center;
		width:100%;
	}

	.hero { display:none; }

	.box p {
		width:95%;
	}

	#showcase h1{
		margin-top: 0px;
	}

	#showcase h2, #showcase h3, #showcase p{
		margin: 5px 0 5px 0;
	}

	header {
		padding-bottom: 20px;
	}
	header nav li {
		padding: 0 10px 0 10px;
	}

}
